@use '../mixins/_mixins'
@use '../variables/_colors'

footer
    @include mixins.row-space-around()

    justify-content: center
    align-items: center

    gap: 4.4rem

    width: 100%
    height: 100px

    margin-top: 10rem

    background-color: colors.$footer-color

footer a
    text-decoration: none

.alt-img
    height: 35px
