@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: hsl(345, 74%, 52%);
    --text-color:  hsl(240, 4%, 19%);
}

body{
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color);

    background-color: hsl(228, 33%, 97%);
}

/* Navigation */

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    align-items: center;

    height: 55px;
    width: 100%;

    background-color: var(--primary-color);
    color: white;
}
